<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/chatPage.css' />
	<script src='/javascripts/jquery.min.js'></script>
	<script src='/libraries/angular/angular.min.js'></script>
	<script src='/javascripts/chatPage.js'></script>
  </head>
  <body ng-app="chatPage">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div class="container" ng-controller="chatPageController">
		<div class="row">  
			<div class="col-md-offset-2 col-md-4">
				<div class="box1">
				</div>
				<form class="form-horizontal">
					<fieldset>
					<!-- Text input-->
					<div class="form-group">
					 
					  <div class="col-md-7">
						<textarea class="form-control" id="textarea" name="textarea"></textarea>
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <div class="col-md-7">
						<button id="custbutton" name="custbutton" class="btn btn-danger" ng-click="custInit()">Submit</button>
					  </div>
					</div>
					</fieldset>
				</form>
			</div>
			  
		</div>  
	</div>
	<script>
	$(document).ready(function(){
	    
	  var $cusBtn = document.getElementById('custbutton');
      var $cusInput = document.getElementById('custextinput');
      
      $cusBtn.disabled = true;
      $cusInput.disabled = true;
	    
      document.getElementById('checkboxOne').onchange = function() {
      $cusBtn.disabled = !this.checked;
      $cusInput.disabled = !this.checked;
     };
	});
   </script>
  </body>
</html>

  

