<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/chatPage.css' />
	<script src='/javascripts/jquery.min.js'></script>
	<script src='/javascripts/bootstrap.min.js'></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src='/libraries/angular/angular.min.js'></script>
	<script src="/libraries/bootbox/bootbox.js"></script>
	<script src='/libraries/ngBootbox/dist/ngBootbox.js'></script>
	<script src='/javascripts/chatPage.js'></script>
  </head>
  <body ng-app="chatPage">
	<script>var user="<%= name %>";</script>
	<script>var role="<%= role %>";</script>
	<div class="container" ng-controller="chatPageController">
		<div class="row">  
			<div class="col-md-offset-2 col-md-4">
				<div id="chatWall" class="box1">
				</div>
				<form class="form-horizontal">
					<fieldset>
					<!-- Text input-->
					<div class="form-group">
					 
					  <div class="col-md-7">
						<textarea class="form-control" id="textarea" name="textarea"  ng-model="chatMsg.text"></textarea>
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <div class="col-md-7">
						<button id="custbutton" name="custbutton" class="btn btn-danger" ng-click="sendMessage()">Submit</button>
						<div class="col-md-offset-12"><button id="startBtn" name="startBtn" class="btn btn-default" ng-click="findPartner()">Start New Chat</button></div>
					  </div>
					</div>
					</fieldset>
				</form>
				<button id="alertBtn" ng-hide="true" class="btn btn-default" style="color: #337ab7;" ng-bootbox-alert="You Are Now Connected To A User!" >
					Alert
				</button>
				
			</div>
			  
		</div>  
	</div>
	<script>
	$(document).ready(function(){
	    
	  var $chatWall = document.getElementById('chatBox');
      var $startBtn = document.getElementById('startBtn');
	  $startBtn.click();

      var socket = io.connect();
	});
   </script>
  </body>
</html>

  

