<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/mainPage.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div class="container">
		<div class="row">  
			<div class="col-md-offset-2 col-md-4">
				<div class="box1">
				  <h3>I am a New Customer</h2>
				</div>
				<form class="form-horizontal">
					<fieldset>
					<!-- Text input-->
					<div class="form-group">
					 
					  <div class="col-md-7">
						<input id="textinput" name="textinput" type="text" placeholder="Enter Your Name" class="form-control input-md" required="">
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <div class="col-md-7">
						<button id="customerButton" name="customer" class="btn btn-danger">Start Session</button>
					  </div>
					</div>
					</fieldset>
				</form>
			</div>
			  
			 <div class="col-md-4">
				 <div class="box1">
				  <h4>I am a Customer Representative</h4>
				</div>
				<form class="form-horizontal">
					<fieldset>
					<!-- Text input-->
					<div class="form-group">
					 
					  <div class="col-md-7">
						<input id="textinput" name="textinput" type="text" placeholder="Enter Your Name" class="form-control input-md" required="">
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <div class="col-md-7">
						<button id="repButton" name="rep" class="btn btn-success">Start Session</button>
					  </div>
					</div>
					</fieldset>
				</form>
			</div>
		</div>  
	</div>
  </body>
</html>


