<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mainPage.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div class="container">
		<div class="row">  
			<div class="col-md-offset-2 col-md-4">
				<div class="box1">
				  <h3>I am a Customer</h2>
				</div>
			</div>
			  
			 <div class="col-md-4">
				 <div class="box1">
				  <h4>I am a Customer Representative</h4>
				</div>
			</div>
		</div>  
	</div>
  </body>
</html>
